$color-primary: #b6bac7;
$color-bg: #f5f8ff;
$color-heading: #3d4f9f;
$color-bright: #ffffff;
$color-text: #8d96bd;
$color-alternative: #d43f3f;
$color-light: #a6b6da;
$color-bg-input: #efeff7;
$color-button-primary: #4d6ce1;
$color-button-secondary: #4c85ff;
$color-button-light: #d2e1ff;
$color-button-alternative: #ffd7d7;
$color-button-title: #3a79ff;
$color-nav-text: #697ca6;
$color-block-border: #d8e3fe;
$color-nav-text-hover: #5e81fe;

$font-primary: "Quicksand", sans-serif;
$font-secondary: "Roboto", sans-serif;

$transition-primary: all 0.3s ease;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
