.content {
  display: flex;
  flex-direction: column;
  &_productivity {
    align-items: center;
  }
  &_plan {
    margin-left: auto;
    max-width: 413px;
  }
  &_features {
    align-items: center;
  }
  &_stats-first {
    align-items: flex-end;
    padding-right: 90px;
  }
  &_stats-second {
    padding-left: 90px;
  }
  &_blog {
    align-items: center;
  }
  &_slider {
    align-items: flex-start;
  }
  &_quotes {
    align-items: flex-start;
  }
  &_faq {
    align-items: center;
  }
  &_get-started {
    align-items: center;
  }
  &_newsletter {
    align-items: flex-start;
    width: 330px;
  }
}

.content__subtitle {
  font-family: $font-secondary;
  @include font(1rem, 1.2rem, 500);
  text-transform: uppercase;
  color: $color-heading;
  &_productivity {
    margin-bottom: 16px;
  }
  &_plan {
    //надо блоки выравнить по центру
    margin-bottom: 27px;
  }
  &_features {
    margin-bottom: 20px;
  }
  &_blog {
    margin-bottom: 20px;
  }
  &_quotes {
    margin-bottom: 31px;
  }
  &_faq {
    margin-bottom: 20px;
  }
  &_get-started {
    margin-bottom: 16px;
    color: #fff;
  }
}

.content__title {
  font-family: $font-primary;
  color: $color-heading;
  &_productivity {
    margin-bottom: 28px;
  }
  &_plan {
    margin-bottom: 27px;
  }
  &_features {
    padding-bottom: 90px;
  }
  &_stats-first {
    color: #fff;
    margin-bottom: 16px;
    letter-spacing: 3px;
  }
  &_stats-second {
    color: #6888ff;
    margin-bottom: 16px;
    letter-spacing: 3px;
  }
  &_blog {
    margin-bottom: 92px;
  }
  &_slider {
    margin-bottom: 32px;
  }
  &_quotes {
    margin-bottom: 14px;
  }
  &_faq {
    margin-bottom: 68px;
  }
  &_get-started {
    font-weight: 300;
    margin-bottom: 28px;
    color: #fff;
  }
  &_newsletter {
    margin-bottom: 18px;
  }
}

.content__text {
  font-family: $font-secondary;
  @include font(1.5rem, 2.8rem);
  color: $color-text;
  &_productivity {
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }
  &_plan {
    letter-spacing: 0.03rem;
    margin-bottom: 47px;
  }
  &_stats-first {
    color: #fff;
  }
  &_stats-second {
    color: #6888ff;
  }
  &_slider {
    margin-bottom: 34px;
  }
  &_quotes {
    max-width: 323px;
  }
  &_get-started {
    color: #fff;
    margin-bottom: 51px;
  }
  &_newsletter {
    @include font(1.4rem, 2.6rem);
  }
}

.content__button {
  border: 0px solid black;
  border-radius: 50%;
  // подумать над тенью

  &_plan {
    display: flex;
  }
}
