.faq {
  padding: 175px 0;
}

.faq-wrapper {
  padding-left: 348px;
  padding-right: 348px;
}

.questions__item {
  padding: 25px 0;
  border-bottom: 1px solid $color-block-border;
}

.question__item-inner {
  display: flex;
  flex-direction: row;
}

.questions__arrow {
  padding: 0 18px;
}

.questions__title {
  font-family: $font-primary;
  @include font(1.5rem, 1.9rem, 500);
  color: #8e96b7;
}

.questions__answer {
  display: flex;
  padding-top: 25px;
  padding-left: 80px;
}

.questions__text {
  font-family: $font-secondary;
  @include font(1.4rem, 2.6rem);
  color: #8d96bd;
  max-width: 390px;
  margin-right: 60px;
}

.questions__link {
  font-family: $font-primary;
  @include font(1.3rem, 1.6rem, 500);
  white-space: nowrap;
  color: #7382a3;
  border: 1px solid #e8ecf4;
  border-radius: 2px;
  background: #e8ecf4;
  padding: 13px 33px;
  margin-right: 30px;

  &:hover {
    color: #e8ecf4;
    border-color: #7382a3;
    background-color: #7382a3;
    cursor: pointer;
  }
}
