.plan {
  background-color: $color-bg;
  padding: 170px 0;
}

.plan__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

.plan__item {
  flex-basis: 45%;
}

.plan__img {
  width: 653px;
}
