.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 19px 0;
}

.inner-block {
  display: flex;
  align-items: center;
}

.block-button {
  padding-left: 44px;
}
